.output {
  font-family: Consolas;
  font-size: 11px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333333;
}

.section {
    color: "#000000";
    width: "100%";
    size: "3";
    align: "left";
}