---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-info
  namespace: payment-info
  labels:
    service: payment-info
    role: app
spec:
  replicas: 3
  selector:
    matchLabels:
      service: payment-info
      role: app
  template:
    metadata:
      labels:
        service: payment-info
        role: app
    spec:
      containers:
        - name: mysqlrouter
          image: mysql/mysql-router:8.0.12
          env:
          - name: MYSQL_PASSWORD
            valueFrom:
              secretKeyRef:
                name: payment-info-db
                key: password
          - name: MYSQL_USER
            value: root
          - name: MYSQL_PORT
            value: "3306"
          - name: MYSQL_HOST
            value: payment-info-db-0.payment-info-db.payment-info.svc.cluster.local
          - name: MYSQL_INNODB_NUM_MEMBERS
            value: "3"
          command:
          - "/bin/bash"
          - "-cx"
          - "exec /run.sh mysqlrouter"
        - name: payment-info-app
          image: k8stestbed/payment-info:latest
          env:
          - name: DB_HOST
            value: 127.0.0.1
          - name: DB_PORT
            value: "6443"
          - name: DB_USERNAME
            value: root
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: payment-info-db
                key: password
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
              scheme: HTTP
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: payment-info
  namespace: payment-info
  labels:
    service: payment-info
    role: app
spec:
  type: ClusterIP
  ports:
    - name: "http-port"
      protocol: "TCP"
      port: 8080
      targetPort: 8080
  selector:
    service: payment-info
    role: app
