---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-info
  namespace: payment-info
  labels:
    service: payment-info
    role: app
spec:
  replicas: 3
  selector:
    matchLabels:
      service: payment-info
      role: app
  template:
    metadata:
      labels:
        service: payment-info
        role: app
    spec:
      containers:
        - name: payment-info-app
          image: registry-harbor-core.infra.svc.cluster.local/library/payment-info:f7bb0896038297a8b744ff8db225fb86678ed048
          env:
            - name: DB_HOST
              value: payment-info-db.payment-info.svc.cluster.local
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: payment-info-user.payment-info-db.credentials
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: payment-info-user.payment-info-db.credentials
                  key: password
            - name: DB_NAME
              value: payment_info_db
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
          readinessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:8080"]
            initialDelaySeconds: 5
          livenessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:8080"]
            initialDelaySeconds: 10
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: payment-info
  namespace: payment-info
  labels:
    service: payment-info
    role: app
  annotations:
    contour.heptio.com/upstream-protocol.h2c: "8080"
spec:
  type: ClusterIP
  ports:
    - name: "http-port"
      protocol: "TCP"
      port: 8080
      targetPort: 8080
  selector:
    service: payment-info
    role: app
