---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart
  namespace: cart
  labels:
    service: cart
    role: app
spec:
  replicas: 3
  selector:
    matchLabels:
      service: cart
      role: app
  template:
    metadata:
      labels:
        service: cart
        role: app
    spec:
      containers:
        - name: cart
          image: registry-harbor-core.infra.svc.cluster.local/library/cart:5496e9e1d507f6a8e8a0782b798409b2492d6a7d
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
              scheme: HTTP
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: cart
  namespace: cart
  labels:
    service: cart
    role: app
spec:
  type: ClusterIP
  ports:
    - name: "http-port"
      protocol: "TCP"
      port: 8080
      targetPort: 8080
  selector:
    service: cart
    role: app
