---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user
  namespace: user
  labels:
    service: user
    role: app
spec:
  replicas: 3
  selector:
    matchLabels:
      service: user
      role: app
  template:
    metadata:
      labels:
        service: user
        role: app
    spec:
      containers:
        - name: user
          image: registry-harbor-core.infra.svc.cluster.local/library/user:04c6beeaf2f2029958f6404fb627e7b19e2df87f
          env:
            - name: DB_HOST
              value: user-db-mysql-master.user.svc.cluster.local
            - name: DB_PORT
              value: "3306"
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: user-db
                  key: USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: user-db
                  key: PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: user-db
                  key: DATABASE
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
              scheme: HTTP
          readinessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:8080"]
            initialDelaySeconds: 5
          livenessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:8080"]
            initialDelaySeconds: 10
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: user
  namespace: user
  labels:
    service: user
    role: app
  annotations:
    contour.heptio.com/upstream-protocol.h2c: "8080"
spec:
  type: ClusterIP
  ports:
    - name: "http-port"
      protocol: "TCP"
      port: 8080
      targetPort: 8080
  selector:
    service: user
    role: app
