---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
  namespace: order
  labels:
    service: order
    role: app
spec:
  replicas: 3
  selector:
    matchLabels:
      service: order
      role: app
  template:
    metadata:
      labels:
        service: order
        role: app
    spec:
      containers:
        - name: order
          image: registry-harbor-core.infra.svc.cluster.local/library/order:5496e9e1d507f6a8e8a0782b798409b2492d6a7d
          env:
            - name: DB_HOST
              value: order-db-tidb.order.svc.cluster.local
            - name: DB_PORT
              value: "4000"
            - name: DB_USERNAME
              value: orderuser
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: order-db
                  key: orderuser
            - name: DB_NAME
              value: orderdb
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
              scheme: HTTP
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: order
  namespace: order
  labels:
    service: order
    role: app
  annotations:
    contour.heptio.com/upstream-protocol.h2c: "8080"
spec:
  type: ClusterIP
  ports:
    - name: "http-port"
      protocol: "TCP"
      port: 8080
      targetPort: 8080
  selector:
    service: order
    role: app
