---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: point
  namespace: point
  labels:
    service: point
    role: app
spec:
  replicas: 3
  selector:
    matchLabels:
      service: point
      role: app
  template:
    metadata:
      labels:
        service: point
        role: app
    spec:
      containers:
        - name: point-app
          image: registry-harbor-core.infra.svc.cluster.local/library/point:5496e9e1d507f6a8e8a0782b798409b2492d6a7d
          env:
            - name: QUEUE_HOST
              value: point-queue-kafka-bootstrap.point.svc.cluster.local
            - name: QUEUE_PORT
              value: "9092"
            - name: QUEUE_TOPIC
              value: point-topic
            - name: QUEUE_USER
              value: point-user
            - name: QUEUE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: point-user
                  key: user.password
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
              scheme: HTTP
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: point
  namespace: point
  labels:
    service: point
    role: app
  annotations:
    contour.heptio.com/upstream-protocol.h2c: "8080"
spec:
  type: ClusterIP
  ports:
    - name: "http-port"
      protocol: "TCP"
      port: 8080
      targetPort: 8080
  selector:
    service: point
    role: app
