---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: product
  namespace: product
  labels:
    service: product
    role: app
spec:
  replicas: 3
  selector:
    matchLabels:
      service: product
      role: app
  template:
    metadata:
      labels:
        service: product
        role: app
    spec:
      containers:
        - name: product-app
          image: registry-harbor-core.infra.svc.cluster.local/library/product:9eb01af6ec205a98a2e62fff12617c169bedc87f
          env:
          - name: DB_HOST
            value: product-db-mysql-master.product.svc.cluster.local
          - name: DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: product-db
                key: USER
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: product-db
                key: PASSWORD
          - name: DB_NAME
            valueFrom:
              secretKeyRef:
                name: product-db
                key: DATABASE
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
          readinessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:8080"]
            initialDelaySeconds: 5
          livenessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:8080"]
            initialDelaySeconds: 10
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: product
  namespace: product
  labels:
    service: product
    role: app
  annotations:
    contour.heptio.com/upstream-protocol.h2c: "8080"
spec:
  type: ClusterIP
  ports:
    - name: "http-port"
      protocol: "TCP"
      port: 8080
      targetPort: 8080
  selector:
    service: product
    role: app
