---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: search
  namespace: search
  labels:
    service: search
    role: app
spec:
  replicas: 3
  selector:
    matchLabels:
      service: search
      role: app
  template:
    metadata:
      labels:
        service: search
        role: app
    spec:
      containers:
        - name: search-app
          image: registry-harbor-core.infra.svc.cluster.local/library/search:9fa95a7cccfdfb3f22aeaad7c70e6eebece2a4ed
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
              scheme: HTTP
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: search
  namespace: search
  labels:
    service: search
    role: app
spec:
  type: ClusterIP
  ports:
    - name: "http-port"
      protocol: "TCP"
      port: 8080
      targetPort: 8080
  selector:
    service: search
    role: app
